<div class="pure-g">
  <div class="pure-u-1">
    <h1>Overall Stats</h1>
    <table class='pure-table' style="margin-left: 2%">
      <thead>
      <tr>
        <th>Total Sign Up</th>
        <th>Total Visit count</th>
        <th>Total Users</th>
        <th>Percentage of Sign Ups</th>
        <th>Percentage of visitors</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @total_sign_up %></td>
        <td><%= @total_visit_count %></td>
        <td><%= @total_users %></td>
        <td><%= @percentage_of_sign_ups %></td>
        <td><%= @percentage_of_visitors %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

